.content-border{
    display: flex;
    align-items: center;
    position: fixed;
    top: 120px;
    left: 120px;
    width: calc(100vw - 240px);
    height: calc(100vh - 240px);
    border: solid #000000 2px;
    z-index: 1;
}
.main-wrapper{
}
.us-wrapper{
    height: 100%;
    opacity: 0;
    transform: translate(0px, 300px);
}
