.topbackground {
    position: fixed;
    top: -205px;
    left: -50px;
    width: 100%;
    transform: rotate(180deg);
    z-index: -1;
}
.topbackground > div {
    transform: rotate(-11deg);
    height: 300px;
}
.bottombackground {
    opacity: 0.7;
    position: fixed;
    bottom: -110px;
    right: -30px;
    width: 100vw;
}
.bottombackground > div {
    transform: rotate(-11deg);
    width: 120vw!important;
    height: 300px;
}
